<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00</td>  <td>Introduction</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>10:55</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> (Continued)</td> </tr>
      <tr> <td>11:40</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:25</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> (Continued)</td></tr>
      <tr> <td>13:10</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:20</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> (Continued)</td></tr> 
      <tr> <td>13:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>10:55</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> (Continued)</td> </tr>
      <tr> <td>11:40</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:25</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> (Continued)</td></tr>
      <tr> <td>13:10</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:20</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> (Continued)</td></tr> 
      <tr> <td>13:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>10:55</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> (Continued)</td> </tr>
      <tr> <td>11:40</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:25</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> (Continued)</td></tr>
      <tr> <td>13:10</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:20</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> (Continued)</td></tr> 
      <tr> <td>13:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> (Continued)</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>10:55</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> (Continued)</td> </tr>
      <tr> <td>11:40</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:25</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> (Continued)</td></tr>
      <tr> <td>13:10</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:20</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> (Continued)</td></tr> 
      <tr> <td>13:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
